$mainBackground: mistyrose;
$superBright: green;

body {
  background-color: linear-gradient(135deg, red, blue); 
}

.title {
  color: $superBright;
  user-select: none;

  span {
    color: red;
  }
}